/*@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
*/

body {
  margin: 0;
}

.page {
  /* V1
  --lighter: #6bc2b5;
  --light: #128277;
  --dark: #004D47; */
 
  --lighter: #AFBADC;
  --light: #777CA8;
  --dark: #313771;
  /* Usage: color: var(--lighter); */

  font-family: 'Muli';
  font-size: 18px;
  font-weight: 300;
  height: 100vw;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
}

.top-container {
  display: flex; 
  align-items: center; 
  justify-content: center;
  width: 100%;
  flex-direction: column;
  background-color: var(--lighter);
  padding: 20px 0;
  min-height: 140px;
}

.ast-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tree-container {
  width: 82%;
  height: 100%;
  font-weight: 500;
  text-align: center;
}

.bottom-container {
  display: flex; 
  justify-content: center;
  width: 100%;
}

.title {
  color: white;
  font-size: 70px;
  font-weight: 600;
  padding: 10px;
  margin: 0;
}

.white {
  color: white;
}

.tree {
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.tree line, rect, g {
  transform: translate(50%, 0);
}

.input {
  font-family: 'Muli';
  font-weight: 300;
  font-size: 16px;
  border: none;
  padding-left: 1rem;
  height: 40px;
  width: 50%;
}
.input:focus { outline: none; }
.input:active { outline: none; }

.key-input {
  border: solid 1px var(--light);
  text-align: center;
  font-size: 48px;
  height: 74px;
  width: 250px;
  padding-left: 0;
}

.input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50px;
  padding: 10px 0;
}

.buttons {
  margin-bottom: 20px;
}

.button {
  font: inherit;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: button;
  color: white;
  margin-left: 0.5rem;
  background-color: var(--light);
  outline: none;
  height: 35px;
  min-width: 80px;
  border: none;
  padding: 0 15px;
}

.button:focus { outline: none; color: white;}
.button:active { outline: none; color: white; }
.button:hover { 
  background-color: var(--dark);
  color: white;
}

.big-button {
  font-size: 40px;
  height: 100px;
  width: 250px;
  margin: 40px 0 20px 0;
}

.big-button--container {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  margin-top: 50px;
}

.big-button--text {
  width: 90%;
  text-align: center;
}

.left-menu {
  min-width: 220px;
  margin-top: 10px;
  padding: 10px 10px 10px 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
  .ast-container {
    flex-direction: column-reverse;
    align-items: center; 
    height: 100%;
  }
  
  .left-menu {
    width: 60%;
  }
}

.grammar-container {
  padding: 10px;
}

.grammar-container p {
  margin-bottom: 0;
}

.grammar-list {
  padding-left: 29px;
  margin-top: 0px;
}

.grammar-list li {
  list-style-type: none;
}

.code-font {
  font-family: 'Courier New', Courier, monospace;
}

.advanced-entry {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.advanced-entry input {
  color: var(--dark);
}

.advanced-entry input::placeholder {
  color: var(--lighter);
}

.advanced-entry strong {
  font-size: 25px;
  color: var(--light);
  margin-top: 25px;
}